.navegador {
    box-shadow: 0px 4px 10px 0px;
    margin-bottom: 4%;
}

.Bienvenido {
    margin: 50px;
    padding: 2rem;
    background-color: gray;
}

.juegos {
    text-align: center;
}

#productos {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 70%;
    justify-content: space-around;
}

.pastilla {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 10px;
    text-align: center;
    display: inline-block;
    width: 200px;
    transition: transform 0.5s ease;

}

.pastilla:hover {
    transform: translate(0.5px, -10px);
    box-shadow: 0px 0px 40px -20px;
}

.pastilla img {
    max-width: 100%;
    height: auto;
}

#carouselExampleAutoplaying {
    width: 90%;
    margin: auto;
}

.error {
    width: 100%;
    height: 100%;
}

.Juego_solo {
    margin: 50px auto 50px auto;
    width: 50%;
    justify-content: center;
    text-align: center;
    border-radius: 50px;
    box-shadow: 0px 0px 50px 2px;
    padding: 20px;
}

.Juego_solo img {
    width: 250px;
    border-radius: 50px;
    margin: 10px auto 10px auto;
}

@media (max-width: 700px) {
    #carouselExampleAutoplaying {
        display: none;
    }
}

